/* CSS GENERAL */

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  margin: 0;
}

/* CLASSES GLOBALES */

.btn {
  text-decoration: none;
  background-color: brown;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  background-color: blue;
  border-radius: 50px;
  transition: all 0.3s ease;
}

/* CSS PAR SECTION */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("https://images.unsplash.com/photo-1550317138-10000687a72b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGJ1cmdlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  text-align: center;
  color: white;
  padding: 150px 50px;
  background-size: cover;
  background-position: center;
}

/* SECTION CONCEPT */

#concept {
  text-align: center;
}

#concept h2 {
  margin: 50px auto;
}

#concept ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

#concept ul li {
  width: 25%;
}

#sanglier {
  display: flex;
  align-items: center;
}

#sanglier img {
  width: 30%;
  margin-right: 50px;
  margin-top: 50px;
}
